<div class="row">
    <div class="col-6 offset-3 mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Connexion</h5>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Addresse email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Vos données seront protégées.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>

                <p class="text-end">Vous n'avez pas encore de compte? <%= link_to "S'incrire", new_user_path() %></p>

            </div>
        </div>
    </div>
</div>